{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Book'|trans }}{% endblock %}

{% block container %}
    <h1>{{ 'Edit Book'|trans }}</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('book_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
